/*
// Projeto - SECOVI | FSB
// Desenvolvimento: Synapse Brasil - https://synapsebrasil.com.br
//
// Autor: Bruno Rodrigues Silva - bruno.silva@synapsebrasil.com.br
// Versão: 1.0 - 20/10/2020
*/


/* ## defaults ## */
html, body {margin:0px; padding:0px; font-family: 'Lato', sans-serif;  scroll-behavior: smooth}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family: 'Lato', sans-serif;}
p, strong, em, span, a {font-family: 'Lato', sans-serif;}

h1, .h1 {font-weight: 900;}
h2, .h2 {font-weight: 700;}
h3, .h3 {font-weight: 700;}
h4, .h4 {font-weight: 400;}
h5, .h5 {font-weight: 700;}
h6, .h6 {font-weight: 700;}
p, a, span, em {font-weight: 300;}



/* ## Logo e Navbar ## */

.bg-light {background-color: #F8FFEF!important;}
.navbar-light .navbar-nav .nav-link {
    color: #547D31;
    font-weight: 400;
    font-size: 1.4rem;
}

/*Inclusão dessa nova classe - vinculada à página do Participe*/
.background-wrap.participe {
    background-image: url('../assets/img/mosaico-programa.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% center;
    height: 300px;
}

/* ## Intro ## */
#intro {
    background-image: url('../assets/img/background-cta-vertical.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 55%;
    background-color: #f7f7f5;
    font-size: 1.2rem;
    padding: 2% 0;
}
#intro img.sobre-plataforma {display: none;}
#intro h2 {font-size: 2.3rem; line-height: 2.3rem; text-transform: uppercase; color:#CF865D }
#intro h2 span {font-size: 2.2rem; line-height: 2.5rem; text-transform: none;}

.imagem-abertura {
    padding: 15% 0 0 20%;
    text-align: right;
}
.imagem-abertura h3 {font-size: 2rem;
    line-height: 3rem;
    text-transform: uppercase;
    color: white;
}
.imagem-abertura a.button {
    background-color: #71A33F;
    color: white;
    padding: 20px 20px;
    font-size: 1.7rem;
    display: inline-block;
    border-radius: 10px;
    border: 0;
}

/* ## Plataforma ## */
#plataforma {padding: 5% 0;}
#plataforma div.form {border-left: solid 4px #547D31; padding: 3% 0 0 2%;}
#plataforma div.form input.enviar {background-color: #71A33F;
    color: white;
    padding: 5px 10px;
    font-size: 1rem;
    display: inline-block;
    border-radius: 5px;
    border: 0;
    margin: 30px 0;
}
#plataforma div.form label {font-size: 1.2rem; font-weight: 700; color: #547D31;}
#plataforma div.form label.form-check-label {font-size: 1rem; font-weight: 400; color: #547D31;}

/* ## CTA ## */
#cta-acompanhe {
    display: none;
}



/* ## Notícias ## */
#noticias {padding: 5% 0; border-bottom: solid 3px #547D31;}
#noticias h2.titulo-noticias {
    border-left: solid 3px #547D31;
    padding: 0 0 0 15px;
    display:inline-block;
    color: #547D31;
}
#noticias .data {
    width: 12%; float:left; text-align:center; padding: 1% 0 0;
}

#noticias .data h4 {line-height: 1.2rem; font-size: 1.8rem; font-weight: 700;}
#noticias .data h4 span {font-size: 0.8rem; font-weight: 700; text-transform: uppercase;}

#noticias .conteudo p {
    font-weight: 300;
    font-size: 1.2rem;
}

#noticias .noticia img {
    border-bottom: solid 4px #327887;
    margin: 0 0 15px 0;
    border-radius: 2px;}

/*Categorias*/
#noticias span.categoria{
    color: white;
    font-size: 0.7rem;
    padding: 2px 6px;
    text-transform: uppercase;
}
#noticias h3.titulo {
    color: #185556;
    font-weight: 900;
    line-height: 1.8rem;
    font-size: 1.5rem;
}
#noticias .noticia p.desc {
    font-size: 16px;
    color: #444;
    font-weight: 400;
}
#noticias a.leiamais {
    background-color: #547D31;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
}

/*Sidebar - Plataforma */
#noticias .sidebar-plataforma {
    background-color: #327887;
    padding: 5%;
    text-align: center;
    color: white;
    display: inline-block;
    height: fit-content;
}

#noticias .sidebar-plataforma h3 {font-size: 2rem;
    line-height: 2rem;
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
}
#noticias .sidebar-plataforma a.button {
    background-color: #71A33F;
    color: white;
    padding: 10px 10px;
    font-size: 1.2rem;
    font-weight: 700;
    display: inline-block;
    border-radius: 5px;
    border: 0;
}
/* ## Footer-Logos ## */
#footer-logos {padding: 5% 0}
#footer-logos img {max-width: 20%;}

#copyright {background-color:#185556; padding: 14px 0 1px; color: white; font-size: 0.8rem; font-weight: 700;}



/* ## Media ## */

@media (max-width: 767px) {

    .navbar-brand {width: 70%;}
    .social {display: block; border-top: solid 1px #547D31; margin-top: 2%; padding-top: 2%;}
    .social .nav-item {width: 20%; float: left;}

    .justify-content-center {
        text-align: center;
        padding: 5% 0;
    }

    #intro {background-image: none; padding: 10% 0;}
    #intro img.sobre-plataforma {display: inline-block;}
    #intro .texto-abertura h2 {text-align: center;}
    #intro .imagem-abertura {
        display: none;
    }


    #cta-acompanhe, #noticias .sidebar-plataforma{
        background-color: #327887;
        padding: 8%;
        text-align: center;
        color: white;
        display: inline-block;
    }

    #cta-acompanhe h3, #noticias .sidebar-plataforma h3  {
        font-size: 1.4rem;
        line-height: 2rem;
        text-transform: uppercase;
        color: white;
    }



    #cta-acompanhe a.button,  #noticias .sidebar-plataforma a.button {
        background-color: #71A33F;
        color: white;
        padding: 10px 10px;
        font-size: 1.2rem;
        display: inline-block;
        border-radius: 10px;
        text-transform: uppercase;
        border: 0;
    }


    #noticias .noticia {text-align: center;}
    #noticias span.categoria-01, #noticias span.categoria-02, #noticias span.categoria-03, #noticias span.categoria-04, #noticias span.categoria-05, #noticias span.categoria-06, #noticias span.categoria-07 {
        width: 100%;
        display: inline-block;
    }



    #noticias .data {
        width: 20%; float:left; text-align:center; padding: 8% 0 0; min-height: 100px;
    }

    #noticias .cabecalho {
        float: right;
        width: 75%;
    }

    #noticias .subtitulo {text-align: center; font-size: 1em; margin-top: 3%; display: inline-block; }

    #noticias .data h4 {line-height: 1.2rem; font-size: 1.8rem; font-weight: 700;}
    #noticias .data h4 span {font-size: 0.8rem; font-weight: 700; text-transform: uppercase;}

    .item-noticia {text-align: center;}

    #footer-logos img {max-width: 50%;}

}
